div:hover {
  transform: rotate(360deg) scale(0.5) translate(100px, 100px) skew(45deg);
  position: absolute;
  top: 50px;
  left: 50px;
}
div {
  height: 100px;
  width: 100px;
  background-color: red;
  transition: all 2s ease-in-out;
}
